In [2]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [3]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [4]:
#zip codes for Jacsonville
zip_lst = [32034,32201,32202,32203,32204,32205,32206,32207,32208,32209,32210,32211]

In [5]:
zip = random.choice(list(zip_lst))
#zip = city_zipdict[city]
#print(f'grade weight for Student category: {zip}')
print(f'grade weight for Student category: {zip}')

grade weight for Student category: 32201

In [6]:
#Type of assignment
assignment_type = [ "In-Person", "Virtual"]

In [7]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: History and Tradition
grade weight for Student category: 50

In [8]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for History and Tradition assignment: 4

In [9]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-18
Student submitted assignment on 2023-09-21

In [10]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        #data.loc[i, 'Gender'] = 
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,91.0,William Salazar,2005-12-08,32202.0,In-Person,Business & Finance,30.0,6.0,2023-09-20,2023-09-23
1,93.0,Joshua Smith,2003-08-10,32034.0,In-Person,Health & Wellness,40.0,34.0,2023-09-21,2023-09-22
2,24.0,Jennifer Johnson,2005-09-13,32204.0,Virtual,Academics,10.0,2.0,2023-09-19,2023-09-24
3,95.0,Patricia Lane,2002-11-17,32203.0,Virtual,Academics,10.0,0.0,2023-09-15,2023-09-23
4,33.0,Linda Reeves,2000-09-26,32202.0,Virtual,Creativity(STEM),20.0,16.0,2023-09-21,2023-09-21
5,10.0,Kevin Maxwell,2004-03-07,32034.0,Virtual,History and Tradition,50.0,35.0,2023-09-24,2023-09-24
6,94.0,Sarah Cain,2003-02-25,32202.0,Virtual,Health & Wellness,40.0,20.0,2023-09-19,2023-09-24
7,2.0,Debbie Norris,2003-07-26,32034.0,In-Person,History and Tradition,50.0,12.0,2023-09-12,2023-09-12
8,26.0,Misc. Megan Stevenson,2004-07-01,32203.0,Virtual,History and Tradition,50.0,21.0,2023-09-15,2023-09-21
9,39.0,Sally Baldwin,2003-04-25,32202.0,In-Person,History and Tradition,50.0,27.0,2023-09-19,2023-09-22

In [12]:
#create female df
def generate_fem_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_female()
        data.loc[i, 'Gender'] = 'Female'
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_fem_data(10)

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,15.0,Leah Li,Female,2003-01-21,32201.0,In-Person,History and Tradition,50.0,22.0,2023-09-22,2023-09-22
1,18.0,Karen Brooks,Female,2001-01-11,32034.0,In-Person,Creativity(STEM),20.0,1.0,2023-09-12,2023-09-18
2,81.0,Amanda Moreno,Female,2006-08-19,32203.0,In-Person,Health & Wellness,40.0,16.0,2023-09-11,2023-09-24
3,8.0,Victoria Hernandez,Female,2006-08-02,32204.0,In-Person,History and Tradition,50.0,43.0,2023-09-16,2023-09-23
4,11.0,Samantha Chavez,Female,2006-05-03,32203.0,Virtual,Academics,10.0,1.0,2023-09-16,2023-09-16
5,88.0,Amy Carpenter,Female,2005-05-30,32205.0,Virtual,History and Tradition,50.0,16.0,2023-09-14,2023-09-20
6,37.0,Sandra Ramsey,Female,2004-02-26,32201.0,Virtual,Health & Wellness,40.0,11.0,2023-09-11,2023-09-23
7,18.0,Amanda Golden,Female,2000-11-10,32201.0,Virtual,Academics,10.0,4.0,2023-09-20,2023-09-23
8,69.0,Erica Johnson,Female,2004-01-19,32204.0,In-Person,History and Tradition,50.0,18.0,2023-09-17,2023-09-24
9,63.0,Sarah Hansen,Female,2005-04-30,32201.0,In-Person,Health & Wellness,40.0,5.0,2023-09-13,2023-09-14

In [13]:
#create male data

#create female df
def generate_male_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_male()
        data.loc[i, 'Gender'] = 'Male'
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_male_data(10)

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,17.0,Philip Peters,Male,2005-02-11,32204.0,In-Person,Creativity(STEM),20.0,12.0,2023-09-17,2023-09-20
1,41.0,Jaime Webster,Male,2004-09-09,32204.0,In-Person,Health & Wellness,40.0,6.0,2023-09-21,2023-09-23
2,77.0,Russell Atkins,Male,2005-06-15,32034.0,Virtual,Academics,10.0,5.0,2023-09-16,2023-09-20
3,48.0,Cole Roberson,Male,2001-12-14,32205.0,In-Person,History and Tradition,50.0,26.0,2023-09-14,2023-09-18
4,52.0,Raymond Anderson,Male,2004-09-10,32203.0,Virtual,Academics,10.0,5.0,2023-09-20,2023-09-20
5,94.0,Ryan Kelly,Male,2001-03-19,32034.0,Virtual,History and Tradition,50.0,0.0,2023-09-24,2023-09-24
6,35.0,Gregg James,Male,2003-10-23,32204.0,In-Person,Business & Finance,30.0,14.0,2023-09-21,2023-09-22
7,52.0,Stephen Gonzalez,Male,2001-05-13,32203.0,Virtual,History and Tradition,50.0,27.0,2023-09-16,2023-09-18
8,25.0,Jason Rubio,Male,2002-09-16,32202.0,In-Person,Health & Wellness,40.0,0.0,2023-09-21,2023-09-22
9,24.0,David Pugh,Male,2005-05-23,32205.0,In-Person,History and Tradition,50.0,17.0,2023-09-12,2023-09-22