In [35]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [36]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [37]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: Creativity(STEM)
grade weight for Student category: 20

In [38]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for Creativity(STEM) assignment: 10

In [50]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-11
Student submitted assignment on 2023-09-13

In [55]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()

    for i in range(0,x):
        
        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,4.0,Ryan Tyler,Business & Finance,30.0,25.0,2023-09-15,2023-09-15
1,68.0,Dustin Pennington,Health & Wellness,40.0,1.0,2023-09-06,2023-09-12
2,35.0,Alicia James,Academics,10.0,2.0,2023-09-06,2023-09-06
3,63.0,Kelly Salas,Creativity(STEM),20.0,11.0,2023-09-11,2023-09-14
4,3.0,Christopher Simpson,Academics,10.0,6.0,2023-09-05,2023-09-11