In [40]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [41]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [53]:
#zip codes for Jacsonville
city_zipdict = [32034,32201,32202,32203,32204,32205]

In [69]:
city = random.choice(list(city_zipdict))
zip = city_zipdict[city]
print(f'grade weight for Student category: {zip}')
print(f'grade weight for Student category: {city}')

grade weight for Student category: 32205
grade weight for Student category: Jacksonville

In [ ]:
#Type of assignment
assignment_type = {
    
    "Assignment Type": "In-Person"
    "Assignment Type": "Virtual"
}

In [ ]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: Business & Finance
grade weight for Student category: 30

In [ ]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for Business & Finance assignment: 6

In [ ]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-09
Student submitted assignment on 2023-09-15

In [74]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):

        city_zipdict = {
    "Jacsonville":32034,
    "Jacsonville":32201,
    "Jacsonville":32202,
    "Jacsonville":32203,
    "Jacsonville":32204,
    "Jacsonville":32205
}
        
        
        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        city = random.choice(list(city_zipdict))
        zip = city_zipdict[city]

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        #data.loc[i, 'Gender'] = 
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Birthday,Zip Code,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,46.0,Sarah Williams,2000-10-02,32205.0,History and Tradition,50.0,41.0,2023-09-06,2023-09-06
1,40.0,Henry Edwards,2003-11-14,32205.0,History and Tradition,50.0,48.0,2023-09-09,2023-09-15
2,22.0,David Kirby,2005-10-19,32205.0,Academics,10.0,6.0,2023-09-13,2023-09-17
3,92.0,Mark Davis,2005-01-17,32205.0,History and Tradition,50.0,41.0,2023-09-14,2023-09-16
4,75.0,Kathleen Lucas,2005-08-02,32205.0,Business & Finance,30.0,12.0,2023-09-07,2023-09-19
5,63.0,Reginald Mcgee,2005-02-12,32205.0,Health & Wellness,40.0,26.0,2023-09-13,2023-09-15
6,2.0,Robert Stein,2004-10-12,32205.0,Academics,10.0,3.0,2023-09-06,2023-09-18
7,46.0,Nicholas Porter,2004-05-02,32205.0,Health & Wellness,40.0,27.0,2023-09-18,2023-09-19
8,65.0,Matthew Moore,2004-01-25,32205.0,History and Tradition,50.0,18.0,2023-09-19,2023-09-19
9,77.0,Kathryn Reeves,2004-05-15,32205.0,History and Tradition,50.0,33.0,2023-09-19,2023-09-19