In [15]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [16]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [17]:
#zip codes for Jacsonville
zip_lst = [32034,32201,32202,32203,32204,32205,32206,32207,32208,32209,32210,32211]

In [18]:
zip = random.choice(list(zip_lst))
#zip = city_zipdict[city]
#print(f'grade weight for Student category: {zip}')
print(f'grade weight for Student category: {zip}')

grade weight for Student category: 32202

In [19]:
#Type of assignment
assignment_type = [ "In-Person", "Virtual"]

In [20]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: Creativity(STEM)
grade weight for Student category: 20

In [21]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for Creativity(STEM) assignment: 14

In [22]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-16
Student submitted assignment on 2023-09-17

In [23]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        #data.loc[i, 'Gender'] = 
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,60.0,Mariah Rocha,2005-07-13,32205.0,In-Person,Health & Wellness,40.0,0.0,2023-09-13,2023-09-14
1,73.0,Gregory Campbell,2005-06-23,32203.0,Virtual,Business & Finance,30.0,26.0,2023-09-12,2023-09-19
2,21.0,Justin Green,2003-02-20,32203.0,In-Person,Business & Finance,30.0,5.0,2023-09-16,2023-09-20
3,36.0,Nicole Dominguez,2002-12-23,32204.0,In-Person,Academics,10.0,1.0,2023-09-15,2023-09-21
4,76.0,Johnathan Crawford,2003-09-22,32034.0,Virtual,History and Tradition,50.0,10.0,2023-09-24,2023-09-24
5,87.0,Matthew Thomas,2003-10-06,32034.0,In-Person,Business & Finance,30.0,7.0,2023-09-11,2023-09-16
6,53.0,Brooke Hughes,2005-12-01,32203.0,In-Person,History and Tradition,50.0,0.0,2023-09-22,2023-09-24
7,82.0,Anthony Mcdonald,2001-07-28,32203.0,Virtual,Academics,10.0,2.0,2023-09-13,2023-09-23
8,57.0,Steven Watts,2005-06-22,32204.0,Virtual,Health & Wellness,40.0,0.0,2023-09-24,2023-09-24
9,42.0,Erin Case,2004-10-10,32204.0,Virtual,Academics,10.0,2.0,2023-09-16,2023-09-21

In [24]:
#create female df
def generate_fem_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_female()
        data.loc[i, 'Gender'] = 'Female'
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


female = generate_fem_data(10)
female

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,47.0,Lisa Henry,Female,2001-08-06,32201.0,In-Person,Health & Wellness,40.0,20.0,2023-09-11,2023-09-21
1,31.0,Valerie Avila,Female,2006-04-29,32203.0,In-Person,Creativity(STEM),20.0,13.0,2023-09-18,2023-09-21
2,72.0,Zoe Adams,Female,2005-02-05,32205.0,In-Person,Health & Wellness,40.0,17.0,2023-09-13,2023-09-20
3,46.0,Brenda Jackson,Female,2002-09-20,32201.0,In-Person,History and Tradition,50.0,49.0,2023-09-14,2023-09-19
4,71.0,Krista Goodwin,Female,2002-11-07,32203.0,Virtual,Health & Wellness,40.0,17.0,2023-09-11,2023-09-12
5,89.0,Christine George,Female,2001-10-29,32202.0,Virtual,Academics,10.0,0.0,2023-09-14,2023-09-17
6,73.0,Brittany Mccarty,Female,2000-12-02,32034.0,In-Person,Creativity(STEM),20.0,4.0,2023-09-13,2023-09-20
7,40.0,Danielle Randolph,Female,2003-06-06,32205.0,Virtual,History and Tradition,50.0,3.0,2023-09-18,2023-09-21
8,61.0,Tara Morris,Female,2004-05-31,32205.0,In-Person,Academics,10.0,7.0,2023-09-14,2023-09-21
9,52.0,Rebecca Arnold,Female,2002-12-10,32202.0,In-Person,History and Tradition,50.0,31.0,2023-09-15,2023-09-22

In [25]:
#create male data

#create female df
def generate_male_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_male()
        data.loc[i, 'Gender'] = 'Male'
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


male = generate_male_data(10)
male

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,70.0,Kyle Rhodes PhD,Male,2001-07-03,32201.0,Virtual,Business & Finance,30.0,23.0,2023-09-13,2023-09-15
1,21.0,Tracy Foster,Male,2001-02-01,32034.0,In-Person,History and Tradition,50.0,11.0,2023-09-18,2023-09-19
2,37.0,Travis Garcia,Male,2000-12-24,32203.0,In-Person,History and Tradition,50.0,49.0,2023-09-14,2023-09-19
3,92.0,James Stark,Male,2006-02-04,32204.0,In-Person,Creativity(STEM),20.0,10.0,2023-09-21,2023-09-21
4,98.0,Brandon Sanders,Male,2006-06-28,32034.0,Virtual,Business & Finance,30.0,10.0,2023-09-14,2023-09-16
5,47.0,Kenneth Wright,Male,2005-06-16,32205.0,In-Person,Health & Wellness,40.0,35.0,2023-09-23,2023-09-24
6,79.0,Robert Marquez,Male,2005-06-12,32201.0,Virtual,Academics,10.0,8.0,2023-09-16,2023-09-22
7,83.0,Gary Campbell,Male,2006-06-30,32204.0,In-Person,Health & Wellness,40.0,7.0,2023-09-22,2023-09-23
8,85.0,Mark Moore,Male,2006-05-31,32201.0,Virtual,History and Tradition,50.0,21.0,2023-09-18,2023-09-23
9,50.0,Bobby Jones,Male,2002-01-19,32202.0,In-Person,History and Tradition,50.0,23.0,2023-09-21,2023-09-21

In [27]:
#combine male and female dfs
horizontal_concat = pd.concat([male, female], axis=0)
horizontal_concat

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,70.0,Kyle Rhodes PhD,Male,2001-07-03,32201.0,Virtual,Business & Finance,30.0,23.0,2023-09-13,2023-09-15
1,21.0,Tracy Foster,Male,2001-02-01,32034.0,In-Person,History and Tradition,50.0,11.0,2023-09-18,2023-09-19
2,37.0,Travis Garcia,Male,2000-12-24,32203.0,In-Person,History and Tradition,50.0,49.0,2023-09-14,2023-09-19
3,92.0,James Stark,Male,2006-02-04,32204.0,In-Person,Creativity(STEM),20.0,10.0,2023-09-21,2023-09-21
4,98.0,Brandon Sanders,Male,2006-06-28,32034.0,Virtual,Business & Finance,30.0,10.0,2023-09-14,2023-09-16
5,47.0,Kenneth Wright,Male,2005-06-16,32205.0,In-Person,Health & Wellness,40.0,35.0,2023-09-23,2023-09-24
6,79.0,Robert Marquez,Male,2005-06-12,32201.0,Virtual,Academics,10.0,8.0,2023-09-16,2023-09-22
7,83.0,Gary Campbell,Male,2006-06-30,32204.0,In-Person,Health & Wellness,40.0,7.0,2023-09-22,2023-09-23
8,85.0,Mark Moore,Male,2006-05-31,32201.0,Virtual,History and Tradition,50.0,21.0,2023-09-18,2023-09-23
9,50.0,Bobby Jones,Male,2002-01-19,32202.0,In-Person,History and Tradition,50.0,23.0,2023-09-21,2023-09-21
0,47.0,Lisa Henry,Female,2001-08-06,32201.0,In-Person,Health & Wellness,40.0,20.0,2023-09-11,2023-09-21
1,31.0,Valerie Avila,Female,2006-04-29,32203.0,In-Person,Creativity(STEM),20.0,13.0,2023-09-18,2023-09-21
2,72.0,Zoe Adams,Female,2005-02-05,32205.0,In-Person,Health & Wellness,40.0,17.0,2023-09-13,2023-09-20
3,46.0,Brenda Jackson,Female,2002-09-20,32201.0,In-Person,History and Tradition,50.0,49.0,2023-09-14,2023-09-19
4,71.0,Krista Goodwin,Female,2002-11-07,32203.0,Virtual,Health & Wellness,40.0,17.0,2023-09-11,2023-09-12
5,89.0,Christine George,Female,2001-10-29,32202.0,Virtual,Academics,10.0,0.0,2023-09-14,2023-09-17
6,73.0,Brittany Mccarty,Female,2000-12-02,32034.0,In-Person,Creativity(STEM),20.0,4.0,2023-09-13,2023-09-20
7,40.0,Danielle Randolph,Female,2003-06-06,32205.0,Virtual,History and Tradition,50.0,3.0,2023-09-18,2023-09-21
8,61.0,Tara Morris,Female,2004-05-31,32205.0,In-Person,Academics,10.0,7.0,2023-09-14,2023-09-21
9,52.0,Rebecca Arnold,Female,2002-12-10,32202.0,In-Person,History and Tradition,50.0,31.0,2023-09-15,2023-09-22