In [102]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [103]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [104]:
#zip codes for Jacsonville
zip_lst = [32034,32201,32202,32203,32204,32205,32206,32207,32208,32209,32210,32211]

In [105]:
zip = random.choice(list(zip_lst))
#zip = city_zipdict[city]
#print(f'grade weight for Student category: {zip}')
print(f'grade weight for Student category: {zip}')

grade weight for Student category: 32208

In [106]:
#Type of assignment
assignment_type = [ "In-Person", "Virtual"]

In [107]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: Creativity(STEM)
grade weight for Student category: 20

In [108]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for Creativity(STEM) assignment: 8

In [109]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-06
Student submitted assignment on 2023-09-16

In [110]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):
        zip_lst = [32034,32201,32202,32203,32204,32205]
        assignment_lst = [ "In-Person", "Virtual"]

        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        zip = random.choice(list(zip_lst))
        assignment_type = random.choice(list(assignment_lst))

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        #data.loc[i, 'Gender'] = 
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Assignment Type'] = assignment_type
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,84.0,Jordan Mcconnell,2004-09-08,32204.0,Virtual,History and Tradition,50.0,29.0,2023-09-16,2023-09-17
1,19.0,Victoria Wallace,2005-07-20,32034.0,In-Person,Creativity(STEM),20.0,9.0,2023-09-09,2023-09-19
2,43.0,Scott James,2004-05-23,32034.0,Virtual,Creativity(STEM),20.0,0.0,2023-09-09,2023-09-18
3,29.0,Martha Hayes,2006-07-25,32201.0,Virtual,History and Tradition,50.0,30.0,2023-09-13,2023-09-15
4,88.0,Rachel Baker,2002-05-18,32034.0,In-Person,Business & Finance,30.0,23.0,2023-09-09,2023-09-17
5,7.0,Jennifer Clayton,2004-04-09,32201.0,In-Person,History and Tradition,50.0,46.0,2023-09-18,2023-09-18
6,58.0,Pamela Young,2002-06-25,32202.0,In-Person,History and Tradition,50.0,11.0,2023-09-06,2023-09-18
7,54.0,Sabrina Fry,2002-01-06,32202.0,In-Person,Business & Finance,30.0,12.0,2023-09-13,2023-09-18
8,10.0,Andrew Davis,2002-12-19,32204.0,Virtual,Business & Finance,30.0,0.0,2023-09-12,2023-09-18
9,81.0,Jacob Brooks,2005-03-31,32201.0,In-Person,Academics,10.0,8.0,2023-09-09,2023-09-19