In [2]:
#import packages and dependencies

from faker import Faker
import random
from random import randint
import pandas as pd
import datetime
from datetime import timedelta

fake = Faker()
print("successful dependency install")

successful dependency install

In [3]:
#student categories and student assignment weights
category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }

In [4]:
#zip codes for Jacsonville
city_zipdict = {
    "Jacsonville":32034,
    "Jacsonville":32201,
    "Jacsonville":32202,
    "Jacsonville":32203,
    "Jacsonville":32204,
    "Jacsonville":32205,
}

In [5]:
zip = random.choice(list(city_zipdict))
city = city_zipdict[zip]

In [6]:
#randomize subject category

#sanity checks and tests
#print random category from dictionary and grade weight to match

#get random key in dictionary
key = random.choice(list(category_dict))
print(f'Student category: {key}')
#get corresponding value that matches random key
value = category_dict[key]
print(f'grade weight for Student category: {value}')

Student category: Business & Finance
grade weight for Student category: 30

In [7]:
#get students score for assignment
score = random.choice(range(0, value))

print(f'students score for {key} assignment: {score}')

students score for Business & Finance assignment: 6

In [8]:
#assignment recieved ansd submission dates

assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())

print(f'Student was given the assigment on {assignment_date}')
print(f'Student submitted assignment on {submission_date}')

Student was given the assigment on 2023-09-09
Student submitted assignment on 2023-09-15

In [20]:
#put data in dataframe/ most cases have been moved insode the function

def generate_data(x):

    data = pd.DataFrame()
    
   

    for i in range(0,x):

        city_zipdict = {
    "Jacsonville":32034,
    "Jacsonville":32201,
    "Jacsonville":32202,
    "Jacsonville":32203,
    "Jacsonville":32204,
    "Jacsonville":32205,
}
        
        
        category_dict = {
    "Academics" : 10,
      "Creativity(STEM)": 20, 
      "Business & Finance" : 30, 
      "Health & Wellness": 40, 
      "History and Tradition": 50
      }
        key = random.choice(list(category_dict))
        value = category_dict[key]
        score = random.choice(range(0, value))

        city = random.choice(list(city_zipdict))
        zip = city_zipdict[city]

        assignment_date = fake.date_between(start_date="-14d", end_date=datetime.datetime.now())
        submission_date = fake.date_between(start_date=assignment_date, end_date=datetime.datetime.now())


     
        data.loc[i, 'Student Id'] = randint(1,100)
        data.loc[i, 'Student Name'] = fake.name_nonbinary()
        #data.loc[i, 'Gender'] = 
        data.loc[i, 'Birthday'] = fake.date_of_birth(minimum_age=17, maximum_age=22)
        data.loc[i, 'Zip Code'] = zip
        data.loc[i, 'Subject Category'] = key
        data.loc[i, 'Available Points'] = value
        data.loc[i, 'Points Recieved'] = score
        data.loc[i, 'Homework assigned'] = assignment_date
        data.loc[i, 'Homework Submitted'] = submission_date
    return data


generate_data(10)

,Student Id,Student Name,Birthday,Zip Code,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,62.0,Howard Hopkins,2005-05-26,32205.0,Business & Finance,30.0,13.0,2023-09-14,2023-09-17
1,86.0,Brianna Garcia,2002-02-19,32205.0,Business & Finance,30.0,6.0,2023-09-07,2023-09-18
2,44.0,Katherine Harrison,2001-12-26,32205.0,Academics,10.0,9.0,2023-09-12,2023-09-15
3,2.0,Kristen Salazar,2006-06-23,32205.0,Creativity(STEM),20.0,9.0,2023-09-13,2023-09-17
4,4.0,Jessica Payne,2001-05-15,32205.0,Creativity(STEM),20.0,14.0,2023-09-16,2023-09-16
5,47.0,Jamie Griffith,2004-10-28,32205.0,Business & Finance,30.0,29.0,2023-09-18,2023-09-18
6,41.0,Larry Goodman,2003-01-23,32205.0,History and Tradition,50.0,3.0,2023-09-17,2023-09-19
7,60.0,Maxwell Gonzalez,2004-11-18,32205.0,Creativity(STEM),20.0,12.0,2023-09-18,2023-09-18
8,1.0,Kyle Contreras,2005-08-23,32205.0,History and Tradition,50.0,6.0,2023-09-18,2023-09-18
9,60.0,Mary Frye,2004-06-20,32205.0,History and Tradition,50.0,20.0,2023-09-19,2023-09-19