In [4]:
# import dependencies
import pandas as pd
import random as rand
import numpy as np



data = pd.read_csv('./fauxStudentGen.csv')
data.head()

,Student Id,Student Name,Gender,Birthday,Zip Code,Assignment Type,Subject Category,Available Points,Points Recieved,Homework assigned,Homework Submitted
0,20.0,Lisa Hendricks DDS,Female,2000-10-05,32205.0,Virtual,History and Tradition,50.0,14.0,2023-09-23,2023-09-24
1,56.0,Felicia Sullivan,Female,2001-04-07,32204.0,In-Person,Health & Wellness,40.0,9.0,2023-09-23,2023-09-23
2,85.0,William Reyes,Male,2003-12-22,32202.0,In-Person,Business & Finance,30.0,18.0,2023-09-24,2023-09-24
3,78.0,Alexander Ray,Male,2003-01-04,32204.0,In-Person,Creativity(STEM),20.0,15.0,2023-09-13,2023-09-18
4,60.0,Whitney Smith,Female,2006-05-21,32201.0,In-Person,Business & Finance,30.0,28.0,2023-09-15,2023-09-15

In [ ]:
#descriptive stats on data generated
rand.shuffle(data)



#splitting percentage
test_percentage = 0.10
validation_percentage = 0.10
train_percentage = 0.10

In [ ]:
#calculate the splitting indices for array
test_split_ratio = int(test_percentage * len(data))
validation_split_ratio = int((validation_percentage + test_percentage) * len(data))

In [ ]:
#use numpy split function to split and train dataset
test, valid, train = np.split(data, [test_split_ratio, validation_split_ratio])

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size = 0.4)

train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

#features_train = train[list(vif['Features'])]